/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* @media only screen and (min-width: 600px) { */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d5338;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 80%;
}
.header-bg {
  width: 100%;
  background: url(https://images.unsplash.com/photo-1485594050903-8e8ee7b071a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80)
    no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: flex-start;
  min-height: 50vh;
  /* border: 1px solid black; */
  border-bottom: 1.5rem solid #baffcd;
}
.nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 3rem;
  padding-top: 1.5rem;
}
.nav-list li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  color: black;
}
.altcampus h1 {
  font-size: 50px;
}
.gray-bg {
  width: 100%;
  background-color: #dadada;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr; */
  /* grid-gap: 2rem; */
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* padding: 2rem; */
  /* height: 30vh; */
}
.gray-bg-text {
  width: 100%;
  background-color: #dadada;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr; */
  /* grid-gap: 2rem; */
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* padding: 2rem; */
  /* height: 70vh; */
  /* border: 1px solid black; */
}
.cartoon-pic img {
  max-width: 80%;
  min-height: 0vh;
}
.cartoon-pic {
  width: 100%;
  /* border: 1px solid black; */
  padding: 3rem 0;
  text-align: center;
}
.video-div iframe {
  width: 100%;
  height: 30vh;
}
.audio-div {
  width: 100%;
  /* border: 1px solid black; */
  /* padding: 2rem; */
}
.audio-div audio {
  width: 100%;
}
.video-div {
  /* border: 1px solid black; */
  /* padding: 2rem; */
  width: 80%;
  min-height: 20vh;
}
.three-para {
  /* border: 1px solid black; */
  text-align: center;
}
.three-para p {
  letter-spacing: 0.2rem;
  font-size: 1rem;
  line-height: 1rem;
  color: black;
  font-weight: 500;
  padding: 1rem;
}
.green-bg {
  background-color: #00bf0e;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* border: 1px black solid; */
  height: 100vh;
  width: 100%;
}
.green-bg h1 {
  font-size: 50px;
  color: white;
  font-weight: 600;
  padding: 1rem;
  /* border: 1px black solid; */
}
.green-bg p {
  padding-bottom: 2.5rem;
  width: 60%;
  text-align: center;
  /* border: 1px black solid; */
}
.big-video {
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
  padding-bottom: 2.5rem;
}
.big-video iframe {
  width: 60%;
  height: 50vh;
  border: 40px solid white;
}
.light-green-bg {
  background-color: #baffcd;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.form-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 2rem; */
  width: 90%;
  height: 75%;
  background-color: white;
  box-shadow: 0 0 2rem 0.5rem rgba(39, 36, 36, 0.541);
}
.form-bg h2 {
  font-weight: 500;
  font-size: 2rem;
  padding-top: 2rem;
}
.form-in {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* border: 2px solid black; */
  height: auto;
  padding: 2rem 0;
}
textarea {
  color: inherit;
  width: 100%;
  margin-bottom: 1rem;
}
form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
input {
  width: 49%;
  height: 3rem;
  margin-bottom: 2rem;
}
.subject {
  width: 100%;
  height: 3rem;
}
.form-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px black solid; */
}
.form-btn button {
  border-radius: 0.5rem;
  background-color: #436759;
  color: white;
  padding: 0.8rem 3rem;
  border: none;
}
.mapping {
  width: 100%;
  background-color: #2c2c2c;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
}
.footer-items li a {
  color: white;
}
